<section class="contact-us-section" id="contact-us">
    <div class="container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="form-foto-containar">
        <div class="form-container">
        <p class="form-text">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
        </p>

        <form class="form">
            <div class="form-item">
            <label for="user-name" class="form-lable"></label>

            <input
                type="text"
                name="user-name"
                id="user-name"
                class="form-input"
                placeholder="Name"
                required
            />
            </div>
            <div class="form-item">
            <label for="user-email" class="form-lable"></label>

            <input
                type="email"
                name="user-email"
                id="user-email"
                class="form-input"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
            />
            </div>
            <div class="form-item">
            <label for="user-phone" class="form-lable"></label>

            <input
                type="tel"
                name="user-phone"
                id="user-phone"
                class="form-input"
                placeholder="+380"
                pattern="/^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$/"
                required
            />
            </div>

            <div class="form-comment">
            <label for="user-comment" class="form-lable"></label>
            <textarea
                name="user-comment"
                id="user-comment"
                class="form-textarea"
                placeholder="Comment"
            ></textarea>
            </div>

            <button type="submit" class="form-btn" aria-label="Send">Send</button>
        </form>
        </div>
        <div class="thumb">
        <picture>
            <source
            srcset="/img/contact-us.jpg 1x, /img/contact-us@2x.jpg 2x"
            media="(min-width: 1280px)"
            />
            <source
            srcset="/img/contact-us-tab.jpg 1x, /img/contact-us-tab@2x.jpg 2x"
            media="(min-width: 768px)"
            />
            <source
            srcset="/img/contact-us-mob.jpg 1x, /img/contact-us-mob@2x.jpg 2x"
            media="(min-width: 320px)"
            />
            <img
            src="/img/contact-us.jpg"
            alt="black watch on rock"
            width="530"
            class="form-foto"
            />
        </picture>
        </div>
    </div>
    </div>
</section>