.about-us-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content {
    border-radius: 30px;
    background-color: #f3f3f3;
}

.about-content {
    width: 100%;
    border-radius: 30px;
    padding: 40px 20px;
    height: 446px;
}

.about-image {
    width: 100%;
    border-radius: 30px;
    height: 446px;
}

.about-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.about-content p {
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: rgba(12, 12, 12, 0.7);
    text-align: justify;
}

.about-content a {
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 16px;
color: #fff;
display: inline-block;
margin-top: 40px;
text-align: center;
width: 160px;
height: 48px;
line-height: 48px;
background-color: #3350e9;
border-radius: 16px;
text-decoration: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-content a:hover {
background-color: #1f3cd4;
}

.about-image {
height: 446px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
overflow: hidden;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/about-us.jpg);
padding: 188px 0;
}

.about-content p + p {
margin-top: 20px;
}

@media (min-width: 768px) {
.about-us-container {
    flex-direction: column;
    width: 768px;
    gap: 40px;
}

.about-content p {
    font-size: 16px;
}
.about-content {
    width: 100%;
    border-radius: 50px;
    padding: 80px 60px;
}

.about-content,
.about-image {
    border-radius: 50px;
    height: 512px;
    width: 100%;
}
}

@media (min-width: 1280px) {
.about-us-container {
    flex-direction: row;
    width: 1280px;
}

.about-content {
    border-radius: 50px;
    width: 580px;
    height: 532px;
    padding: 80px 60px;
}

.about-content h2 {
    font-size: 48px;
}

.about-image {
    width: 530px;
    height: 532px;
}
}

@media (min-resolution: 192dpi) {
.section-one {
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/about-us@2x.jpg);
}
}